Novel_Assistant/.idea/compiler.xml
Novel_Assistant/.idea/misc.xml
Novel_Assistant/.idea/modules.xml
Novel_Assistant/.idea/Novel_Assistant.iml
Novel_Assistant/.idea/vcs.xml
Novel_Assistant/.idea/workspace.xml
Novel_Assistant/.idea/inspectionProfiles/Project_Default.xml
Novel_Assistant/.idea/libraries/my_test_package.xml
agent.egg-info/dependency_links.txt
agent.egg-info/requires.txt
agent.egg-info/SOURCES.txt
agent.egg-info/top_level.txt
.idea/.gitignore
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/Novel_Assistant.iml
.idea/prettier.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/shelf/_2025_9_20_13_11____.xml
.idea/shelf/在进行更新之前于_2025_9_20_13_11_取消提交了更改_\[更改]/db.db
.idea/shelf/在进行更新之前于_2025_9_20_13_11_取消提交了更改_\[更改]/shelved.patch
backend/logs/app_dev.2026-01-25_11-36-47_423446.log.zip
backend/logs/app_dev.2026-01-26_13-04-22_690980.log.zip
backend/src/static/uploads/58b5b7dde2074358b0be442f6f846851.jpeg
backend/src/static/uploads/437c2d08e2a1488eb980564e265c759a.jpeg
